<div class="view">
	<% if (@sun_position != @sun_position_tm)%>
	<p><%= "The Sun is in #{@sun_position} now and enters #{@sun_position_tm} today." %></p>
	<% else %>
	<p><%= "The Sun is in #{@sun_position}" %></p>
	<% end %>

	<% if (@moon_position != @moon_position_tm)%>
	<p><%= "The Moon is in #{@moon_position} now and enters #{@moon_position_tm} today." %></p>
	<% else %>
	<p><%= "The Moon is in #{@moon_position}" %></p>
	<% end %>

	<% if (@mercury_position != @mercury_position_tm)%>
	<p><%= "Mercury is in #{@mercury_position} now and enters #{@mercury_position_tm} today." %></p>
	<% else %>
	<p><%= "Mercury is in #{@mercury_position}" %></p>
	<% end %>

	<% if (@venus_position != @venus_position_tm)%>
	<p><%= "Venus is in #{@venus_position} now and enters #{@venus_position_tm} today." %></p>
	<% else %>
	<p><%= "Venus is in #{@venus_position}" %></p>
	<% end %>

	<% if (@mars_position != @mars_position_tm)%>
	<p><%= "Mars is in #{@mars_position} now and enters #{@mars_position_tm} today." %></p>
	<% else %>
	<p><%= "Mars is in #{@mars_position}" %></p>
	<% end %>
	
	<% if (@jupiter_position != @jupiter_position_tm)%>
	<p><%= "Jupiter is in #{@jupiter_position} now and enters #{@jupiter_position_tm} today." %></p>
	<% else %>
	<p><%= "Jupiter is in #{@jupiter_position}" %></p>
	<% end %>
	
	<% if (@saturn_position != @saturn_position_tm)%>
	<p><%= "Saturn is in #{@saturn_position} now and enters #{@saturn_position_tm} today." %></p>
	<% else %>
	<p><%= "Saturn is in #{@saturn_position}" %></p>
	<% end %>
	
	<% if (@uranus_position != @uranus_position_tm)%>
	<p><%= "Uranus is in #{@uranus_position} now and enters #{@uranus_position_tm} today." %></p>
	<% else %>
	<p><%= "Uranus is in #{@uranus_position}" %></p>
	<% end %>

	<% if (@neptune_position != @neptune_position_tm)%>
	<p><%= "Neptune is in #{@neptune_position} now and enters #{@neputne_position_tm} today." %></p>
	<% else %>
	<p><%= "Neptune is in #{@neptune_position}" %></p>
	<% end %>

	
	<% if (@pluto_position != @pluto_position_tm)%>
	<p><%= "Pluto is in #{@pluto_position} now and enters #{@pluto_position_tm} today." %></p>
	<% else %>
	<p><%= "Pluto is in #{@pluto_position}" %></p>
	<% end %>

</div>

